<div class="columns mt-6">
  <div class="column is-half is-offset-one-quarter card">
    <h1 class="title is-1 has-text-centered">Sign up</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'card-content' }) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <%= f.button :submit, value: 'Sign up', class: 'is-medium is-fullwidth button is-success' %>
    <% end %>
  </div>
</div>

