<!DOCTYPE html>
<html>
  <head>
    <title>Inscriptions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'font-awesome.min' %>
  </head>

  <body>

  <%= render 'shared/nav' %>

  <section id="section" class="section">
    <div class="container">
      <%= render 'shared/alerts' %>
      <%= yield %>
    </div>
  </section>

  <%= render 'shared/footer' %>
  </body>
</html>
