<!DOCTYPE html>
<html>
  <head>
    <title>Inscriptions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'font-awesome.min' %>
  </head>

  <body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to root_path, class: 'navbar-item' do %>
        <h1 class="title">Inscriptions Platform</h1>
      <% end %>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <% if current_teacher %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= current_teacher.name %>
            </a>

            <div class="navbar-dropdown is-right">
              <%= link_to 'Sign out', destroy_teacher_session_path, method: :delete, class: 'navbar-item' %>
            </div>
          </div>
        <% else %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to 'Sign up', new_teacher_registration_path, class: 'button is-primary' %>
              <%= link_to 'Log in', new_teacher_session_path, class: 'button is-light' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <%= render 'shared/alerts' %>
      <%= yield %>
    </div>
  </section>

  <%= render 'shared/footer' %>
  </body>
</html>
